body {
	margin: 0;
	padding: 0;
	background: url(/img/back.png);
    font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;

}
p {
    margin: 0;
	padding: 0;
}

.wrapper {
	margin: auto;
	width: 700px;
	float: left;
	overflow: auto;

    
}


.header {
	width: 1000px;
	height: 90px;
	margin: auto;
	color: orange;
    background: url(/img/logo.png) center no-repeat;
	font-size: 50px;
	padding-left: 50px;
	font-weight: 300;
	overflow: hidden;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

}

.twitter {
	padding-top: 35px;
	float: right;
}


nav {
	width: 100%;
	height: 68px;
	background: url(/img/menu.png);
	overflow: hidden;
}



nav ul {
    width: 900px;
	margin: auto;
	list-style: none;
	text-align: center;
}

nav li {
	height: 100%;
	float: left;
	padding: 20px 15px 20px 15px;
}

nav li:hover {
	background: url(/img/active.png);
	
	
}

nav #active {
	background: url(/img/active.png);

	
}

nav a {
	text-decoration: none;
	color: white;
}




.post_head {
	width: 696px;
	margin: auto;
	height: 40px;
	margin-top: 2px;
	background-color: #242424;
	overflow: hidden;

}

.post_head h1 {
	margin: 0;
	padding: 0;
	padding-top: 10px;
	font-family: Tahoma;
	color: orange;
	font-size: 12pt;
}

.post_head img {
	padding-left: 20px;
	padding-top: 4px;
	padding-right: 20px;
} 



.author {
	float: right;
	margin-top: -20px;
	padding-right: 20px;
}
.author span {
	color: orange;
}

.teksts {
	width: 676px;
	margin: auto;
	margin-top: 2px;
	padding: 10px;
	background-color: #242424;	
	overflow: visible;
}

.ikonas {
	width: 696px;
	margin: auto;
	margin-top: 2px;
	background-color: #242424;
	height: 29px;
	margin-bottom: 2px;
}
.ikonas img {
	float: left;
	width: 29px;
    height: 29px;
}

.saturs {
	margin-top: 0px;
	padding-bottom: 2px;
	width: 700px;
    background-color: black;
	float: left;
	color: white;
	overflow: auto;


}
.tower {
	float: left;
	
	margin-left: 5px;
	margin-top: 5px;
}

.add_name {
	width: 500px;
	margin: 10px;
	display: inline-block;
}

.add_form {
	width: 681px;
	margin: auto;
	height: 32px;
	margin-top: 2px;
	background-color: #242424;
	overflow: hidden;
	padding-top: 8px;
	padding-left: 15px
}

.saturs a {
	text-decoration: none;
	color: white;
    

}

.saturs a:hover {
	color: red;
}

hr {
	color: orange;
	background-color: orange;
	border-color: orange;
}

.footer {
	font-size: 12px;
	height: auto;
    padding: 10px;
	text-decoration: none;

	color: white;
    text-align: left;
    margin-bottom: 15px;
    

}



.footer a {
	text-decoration: none;
	color: white;
	text-align: center;
}

.footer a:hover {
	color: red;
}

.left_f {
	width: 255px;
	float: left;
}

.right_f {
	width: 255px;
	float: right;
	text-align: right;
}

.mid_f {
	float: left;
	width: 150px;
}


.numbers1 {
	font-size: 13px;
	width: 211px;
	height: 100%;
	float: left;
	margin: 0px 0px 0px 2px;
	padding: 0px 10px 0px 10px;
	background-color: #242424;
}
.numbers3 {
	font-size: 13px;
	width: 210px;
	height: 100%;
	float: left;
	margin: 0px 2px 0px 2px;
	padding: 0px 10px 0px 10px;
	background-color: #242424;
}

.numbers4 {
	font-size: 13px;
	width: 211px;
	height: 100%;
	float: right;
	margin: 0px 2px 0px 0px;
	padding: 0px 10px 0px 10px;
	background-color: #242424;
}
.numbers2 {
	width: 300px;
	float: left;
	text-align: left;
	margin-right: 15px;
}

 #chartdiv, #chartdiv2, #chartdiv3 {
 height:400px;
 width:676px;
 padding: 10px;
 margin: 0px 2px 2px 2px;
 background-color: #242424;

}

.paypal {
	margin: auto;
	width: 100px;
}


.goal {
	width: 325px;
	margin: auto;
	float: left;
	margin: 2px 2px 2px 2px;
	padding: 10px;
	background-color: #242424;	
	overflow: hidden;
	min-height: 110px;
}

.apkart {
	width: 1070px;
	margin: auto;
	overflow: hidden;
}

.ad1 {

	float: left;
	margin-right: 25px;
	width: 160px;
	height: 600px;
}

.ad2 {

	margin-left: 25px;
	float: right;
	width: 160px;
	height: 600px;
}
.top {
	background: url(/img/top-back.png);
	overflow: hidden;
}

.soc {
	float: left;
	
}

.socred {
	float: left;
	margin-top: 1px;
	margin-right: 5px;
}

.socfb {
	float: left;
	margin-left: -25px;
}

.fb-like {
overflow: visible;

position: relative;
}

.teksts3 {
	width: 676px;
	height: 20px;
	margin: auto;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 10px;
	background-color: #242424;	
	overflow: visible;
}

.ico { background: url('img/ico.png') no-repeat top left;  }
.ico.Crafting_icon_highscores { background-position: 0px 0px; width: 29px; height: 29px;  }
.ico.Defence_icon_highscores { background-position: 0px -44px; width: 29px; height: 29px;  }
.ico.Farming_icon_highscores { background-position: 0px -88px; width: 29px; height: 28px;  }
.ico.Firemaking_icon_highscores { background-position: 0px -131px; width: 28px; height: 29px;  }
.ico.Fishing_icon_highscores { background-position: 0px -175px; width: 29px; height: 29px;  }
.ico.Fletching_icon_highscores { background-position: 0px -219px; width: 29px; height: 29px;  }
.ico.Herblore_icon_highscores { background-position: 0px -263px; width: 29px; height: 28px;  }
.ico.Hitpoints_icon_highscores { background-position: 0px -306px; width: 29px; height: 29px;  }
.ico.Hunter_icon_highscores { background-position: 0px -350px; width: 29px; height: 27px;  }
.ico.Magic_icon_highscores { background-position: 0px -392px; width: 29px; height: 29px;  }
.ico.Mining_icon_highscores { background-position: 0px -436px; width: 28px; height: 29px;  }
.ico.Prayer_icon_highscores { background-position: 0px -480px; width: 29px; height: 28px;  }
.ico.Ranged_icon_highscores { background-position: 0px -523px; width: 28px; height: 29px;  }
.ico.Runecrafting_icon_highscores { background-position: 0px -567px; width: 29px; height: 28px;  }
.ico.Slayer_icon_highscores { background-position: 0px -610px; width: 29px; height: 29px;  }
.ico.Smithing_icon_highscores { background-position: 0px -654px; width: 29px; height: 27px;  }
.ico.Strength_icon_highscores { background-position: 0px -696px; width: 28px; height: 29px;  }
.ico.Thieving_icon_highscores { background-position: 0px -740px; width: 29px; height: 22px;  }
.ico.Woodcutting_icon_highscores { background-position: 0px -777px; width: 28px; height: 29px;  }
.ico.overall { background-position: 0px -821px; width: 29px; height: 29px;  }
.ico.Agility_icon_highscores { background-position: 0px -865px; width: 29px; height: 29px;  }
.ico.Attack_icon_highscores { background-position: 0px -909px; width: 29px; height: 28px;  }
.ico.Construction_icon_highscores { background-position: 0px -952px; width: 29px; height: 29px;  }
.ico.Cooking_icon_highscores { background-position: 0px -996px; width: 29px; height: 29px;  }

.float-left{
    float: left;
}

.input-field:focus{
    outline: 0;
}

.input-field {
    color: #000000;
    margin: 0 0 0 10px;
    padding: 2px 0 2px 8px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid white;
    background: rgb(243,197,189); /* Old browsers */
    background: rgb(254,204,177); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlY2NiMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YxNzQzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VhNTUwNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYjk1NWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(254,204,177,1) 0%, rgba(241,116,50,1) 50%, rgba(234,85,7,1) 51%, rgba(251,149,94,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,204,177,1)), color-stop(50%,rgba(241,116,50,1)), color-stop(51%,rgba(234,85,7,1)), color-stop(100%,rgba(251,149,94,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-8 */

}

.button{
    color: #000000;
    padding: 2px 4px 2px 2px;
    margin: 0 10px 0 -4px;
    border: 1px solid white;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgb(243,197,189); /* Old browsers */
    background: rgb(254,204,177); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlY2NiMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YxNzQzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VhNTUwNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYjk1NWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(254,204,177,1) 0%, rgba(241,116,50,1) 50%, rgba(234,85,7,1) 51%, rgba(251,149,94,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,204,177,1)), color-stop(50%,rgba(241,116,50,1)), color-stop(51%,rgba(234,85,7,1)), color-stop(100%,rgba(251,149,94,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-8 */

}

.button:hover{
    cursor: pointer;
}

.top-table{
    font-size: 14px !important;
}